{% extends "base.html" %} 

{% block content %} 


<div class="container">
    <h3 class="text-dark text-center">Admin Login</h3>
    <div class="mx-auto py-4 auth-container">
            {% if messages %}
                <p class="alert alert-danger alert-dismissible fade show">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </p>
            {% endif %}
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="form-group">
              {{form.username}}
          </div>
          <div class="form-group">
              {{form.password}}
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <a href="{% url "password-reset" %}" class="mt-4 d-block">Forgot password?</a>
    </div>

</div>



{% endblock %}
